


/* animations */
@keyframes typewriter {
    0% {
        width: 0em;
    }
    
    35% {
        width: 12em;
    }

    100% {
        width: 0em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #0c0c0c;
    }

    to {
        border-right-color: transparent;
    }
}

// About Component
.aboutContainer {
    @media screen and (min-width: 752px) {
        height: 3200px;
    }

    width: 100%;
    height:  4000px;
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;

    .liveTextContainer {
        @media screen and (min-width: 750px) {
            width: 50%;
        }
        height: 150px;
        width:90%;
        margin: 0 auto;
        transform: translateY(-75px);
        border-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 3px 5px 21px 8px #000000; 
        box-shadow: 3px 5px 21px 8px #0000005b;
        color: #0c0c0c;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 12em;
            margin: 0 auto;
            border-right: 2px solid #0c0c0c;
            font-size: 180%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

        .animTypewriter {
            animation: typewriter 4s steps(40) 1s 1 normal both,
            blinkTextCursor 500ms steps(40) infinite normal,
            typewriter 4s steps(40) 1s 1 reverse both;
            animation-iteration-count: infinite;
        }

        p {
            span {
                font-weight: bold;
            }
        }

    }
  
    .subHeading {
        font-family: "Montserrat";
        text-align: center;
        color: #daa520;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
        margin: .25rem auto;
        letter-spacing: -1px;


    }

    .heading {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 1.5rem;
        color: #0c0c0c;
        margin: 1rem;
    }

    .offerBtn {
        background-image: linear-gradient(to left, #ffd65a ,#ffb700, #ffbf00);
        background-size: 200%;
        border: none;
        width: 220px;
        height: 45px;
        margin: 2.5rem auto;
        padding: 0 1rem;
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        box-shadow: 0px 3px 11px 3px #0000005b;
        &:hover {
            cursor: pointer;
            background-position: right;
            
        }
    }

    .offerBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

        .offerRow {
            display: flex;

            margin: 0 auto;
            justify-content: space-evenly;
            
        }
    }

    .pricingBlock {
        
        
        display: flex;
        flex-direction: column;

        .pricingSubheading {
            font-family: "Montserrat";
            text-align: center;
            color: #daa520;
            font-size: 1.75rem;
            text-transform: uppercase;
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .25rem auto;
            transform: translateY(25px);

            letter-spacing: -1px;
            
        }
        .priceItem {
            @media screen and (min-width: 750px) {
                width: 50%;
            }
            display: flex;

            flex-direction: column;
            text-align: center;
            background-color: #0c0c0c;
            height: 450px;
            width: 80%;
            margin: 4rem auto;
            border-radius: 5px;
            -webkit-box-shadow: 3px 5px 21px 8px #000000; 
            box-shadow: 3px 5px 21px 8px #0000005b;

            h4 {
                font-size: 1.5rem;
                margin: 2rem auto;
            }

            ul {
                text-align: left;
                margin: 0 auto;
                width: 70%;
                list-style-type:none;

                li {
                    margin: 1rem auto;
                }
            }
        }
    }

    .reviewHeading {
        font-family: "Montserrat";
        text-align: center;
        color: #cea616;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
        margin: 1rem auto;
        z-index: 0;
        letter-spacing: -1px;
        width: 80%;
    }

    .chevron {
        color: #cea616;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;margin: 0 auto;


    }


    .reviewHeading, .chevron {
        @media screen and (min-width: 750px) {
            transform: translateY(75px);
        }
        transform: translateY(50px);
    }

}


