// About Component
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700;800&family=Inter:wght@400;600;800&family=Montserrat:wght@200;300;400;800;900&display=swap');

/* animations */
@keyframes typewriter {
    0% {
        width: 0em;
    }
    

    35% {
        width: 12em;
    }

    100% {
        width: 0em;
    }


}

@keyframes blinkTextCursor {
    from {
        border-right-color: #0c0c0c;
    }

    to {
        border-right-color: transparent;
    }
}

.aboutContainer {
    width: 100%;
    height: 1900px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;

    .liveTextContainer {
        height: 150px;
        width:90%;
        margin: 0 auto;
        transform: translateY(-75px);
        border-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 3px 5px 21px 8px #000000; 
        box-shadow: 3px 5px 21px 8px #0000005b;
        color: #0c0c0c;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            width: 12em;
            margin: 0 auto;
            border-right: 2px solid #0c0c0c;
            font-size: 180%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

        .animTypewriter {
            animation: typewriter 4s steps(40) 1s 1 normal both,
            blinkTextCursor 500ms steps(40) infinite normal,
            typewriter 4s steps(40) 1s 1 reverse both;
            animation-iteration-count: infinite;
        }


    }
  
    .subHeading {
        font-family: "Montserrat";
        text-align: center;
        color: #daa520;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
        margin: .25rem auto;
        letter-spacing: -1px;


    }

    .heading {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 1.5rem;
        color: #0c0c0c;
    }

    .offerBtn {
        background-image: linear-gradient(to left, #ffd65a ,#ffb700, #ffbf00);
        background-size: 200%;
        border: none;
        width: 220px;
        height: 45px;
        margin: 1.5rem auto;
        padding: 0 1rem;
        color: #fff;
        font-family: 'Montserrat';
        font-weight: 600;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        box-shadow: 0px 3px 11px 3px #0000005b;
        &:hover {
            cursor: pointer;
            background-position: right;
            
        }
    }


    .offerBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

        .offerRow {
            display: flex;

            margin: 0 auto;
            justify-content: space-evenly;
            
        }
    }


    .pricingSubheading {
        font-family: "Montserrat";
        text-align: center;
        color: #daa520;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        margin: .25rem auto;
        letter-spacing: -1px;

    }

    .pricingBlock {
        .priceItem {
            background-color: #0c0c0c;
            height: 350px;
            width: 55%;
            margin: 2rem auto;
        }
    }

    .reviewHeading {
        font-family: "Montserrat";
        text-align: center;
        color: #daa520;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        margin: .25rem auto;
        letter-spacing: -1px;
        width: 80%;
    }
}