.imageContainer {
    height: 550px;
    width: 80%;

    .imageSlide {
        height:  450px;
        width: 100%;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}