// Navigation

.navigationContainer {
    .sticky {

    }


    .navigationBar {
        position: relative;
        z-index: 1500;
        background-color: #0c0c0c;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        -webkit-box-shadow: 3px 5px 21px 8px #000000; 
        box-shadow: 3px 5px 21px 8px #000000;
        transition: all 0.2s ease;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;

        .logo {
            border: 2px solid #fff;
            padding: 0rem 1rem;;
            letter-spacing: 5px;
            cursor: pointer;
            transition: .2s all ease;
            &:hover {
                color: #f8bc24;
                border: 2px solid #f8bc24;
                filter: drop-shadow(0px 0px 10px #daa520);

            }
        }

        .spacer {
            display: flex;
            justify-content: center;
            align-items: center;

            .navIcon { 
                width: 75px;
                font-size: 2rem;
                transition: 0.2s all ease;
                &:hover {
                    cursor: pointer;
                    color: #ffc123;
                    filter: drop-shadow(0px 0px 10px #daa520);
                }
            }
        }
    
        .menuBtnContainer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all .2s ease;
            border: 3px solid #fff;
    
            .menuBtnBurger {
                width: 20px;
                height: 3px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all 0.5s ease;
    
                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all 0.5s ease;
                }
    
                &::before {
                    transform: translateY(-10px);
                }
    
                &::after {
                    transform: translateY(10px);
                }

                &:hover {
                    
                    background-color: #ffc123;

                    &::before, &::after {
                        background-color: #ffc123;
                    } 
                    filter: drop-shadow(0px 0px 10px #daa520);
                }

                .menuControl {
                    &:checked {
                        display: flex;
                    }
                }
    
            }

            &:hover {
                cursor: pointer;
                border: 3px solid #ffc123;
                * {
                    background-color: #ffc123;

                    &::after, &::before{
                        background-color: #ffc123;
                    }
                }
            }
    
    
        }
    }

    .sidebar {
        transform: translateX(320px);
        z-index: 1000;
        height: 100vh;
        width: 320px;
        position: fixed;
        background-color: #0c0c0c;
        color: #fff;
        display: flex;
        right: 0px;
        transition: all 0.3s ease;

        .sidebarMenu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            h4 {
                font-size: 2.5rem;
                font-weight: 600;
            }

            a {
                margin: 3rem auto;
                font-size: 2rem;
                transition: all 0.2s ease;
                &:hover {
                    cursor: pointer;
                    color: #daa520;
                    filter: drop-shadow(0px 0px 10px #daa520);
                    &::after {
                        content: '';
                        background-color: #daa520;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;

                       
                        display: block;
                    }
                }

            }
        }
    }

    // Visibility selector
    .sidebar.display {
        display: flex;
        transform: translateX(0px);

    }
    
    

}

//Animation 
.navigationBar .menuBtnContainer.open .menuBtnBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

    &::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    &::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}