.cardContainer {

    color: #daa520;
    
    margin:3.5rem auto;
    
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    // -webkit-box-shadow: 5px 5px 13px -8px #000000; 
    // box-shadow: 0px 0px 13px -8px #000000;
    // border: 1px solid #c2c1c1;
    width: 90%;



    .cardIcon {
        font-size: 3rem;

    }

    .cardInfo {
        width: 80%;

    
        .cardTitle {
            margin: .75rem auto;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            text-align: center;
        }
    
        hr {
            height: 3px;
            width: 50%;
            border-radius: 5px;
            border: none;
            background-color: #cea616;
            margin: 0 auto;
        }
    
        .cardText {
            font-family: 'EB Garamond';
            width: 65%;
            margin: .75rem auto;
            font-weight: 300;
        }
    }
}


