.quoteContainer {
    height: 450px;
    width: 100%;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    
    .quoteSlide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #131313;
        height: 400px;

        .testimonialImage {
            height: 35px;
            width: 35px;
            background-color: #f8f8f8;
            border-radius: 50%;
        }

        .testimonialHeading {
            @media screen and (min-width: 750px) {
                font-size: 1.25rem;
            }
            margin: 1rem;
        }

        .testimonialText {
            @media screen and (min-width: 750px) {
                width: 70%;
                font-size: 1rem;
            }
            
            width: 60%;
            font-size: .85rem;
            font-family: 'eb garamond';
        }
    }

    .quoteButtonRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        .quoteButtonPrev, .quoteButtonNext {
            font-size: 2rem;
            color: #f8f8f8;
            height: 40px;
            width: 40px;
            transition: 0.2s all ease;
            &:hover {
                cursor: pointer;
                filter: drop-shadow(0px 0px 10px #cea616);
                color: #cea616;
            }
        }


        
    }

    .quotePagination {
        color: #f8f8f8;
        border-radius: 50%;
        border: #f8f8f8 solid 2px;
        height: 25px;
        width: 25px;
        background-color: #f8f8f8;
        transition: 0.3s all ease;
        transform: translateY(100px);
        &:hover {
            border: #cea616 solid 2px;
        }

    }

}